{% with "URL Shortener" as title %}
{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ title }}{% endblock %}</title>
  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  {% block headextra %}{% endblock headextra %}
</head>
<body>
  <div id="wrapper">
    <div class="jumbotron" id="banner" style="padding-bottom: 0;">
      <div class="container">
        <h1><a href="{% url 'url_shortener:index' %}">URL Shortener</a></h1>
        <p>Shorten your long URLs and share them with your friends!</p>
        <ul class="nav nav-tabs" style="border: 0;">
          <li role="presentation" class="nav-item">
            <a class="nav-link {% block index_nav %}{% endblock %}" href="{% url 'url_shortener:index' %}">Home</a>
          </li>
          <li role="presentation" class="nav-item">
            <a class="nav-link {% block analytics_nav %}{% endblock %}" href="{% url 'url_shortener:analytics' %}">Analytics</a>
          </li>
          
          {% block navextra %}{% endblock %}

          {% if user.is_authenticated %}
          <li role="presentation" class="nav-item">
            <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
          </li>
          {% else %}
          <li role="presentation" class="nav-item">
            <a class="nav-link {% block register_nav %}{% endblock %}" href="{% url 'accounts:register' %}">Register</a>
          </li>
          <li role="presentation" class="nav-item">
            <a class="nav-link {% block login_nav %}{% endblock %}" href="{% url 'accounts:login' %}">Login</a>
          </li>
          {% endif %}
          
        </ul>
      </div>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <div id="push"></div>
  </div>
  <div id="footer">
    <div class="container">
      <p class="muted credit">
        Copyright &copy; Seyyed Ali Ayati.
        Source code available on <a href="https://github.com/smtchahal/url-shortener">GitHub</a>.
      </p>
    </div>
  </div>
  {% block bodyextra %}{% endblock %}
</body>
</html>
{% endwith %}
